body {
  touch-action: manipulation;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  background-color: rgb(50, 51, 61);
}

.container {
  overflow: hidden;
  width: 100%;
}

.centered{
  margin: auto;
  width: 18em;
}

.margin {
  margin: 1rem;
}

.keyboard{
  display: block;
}

.keyboard-row{
  box-sizing: border-box;
  display: flex;
  line-height: 20px;
}

.key {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;


  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  max-width: 100%;
  position: relative;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 2em;
  height: 2em;
  margin-top: 0.5em;
  aspect-ratio: 1/1;

  font-family: monospace;
  font-size:large;
  font-weight: normal;

}


.key:enabled{
  background-color: green;
  cursor: pointer;
}

.key:disabled{
  background-color: gray;
  cursor:not-allowed;
}

.slots{
 box-sizing: border-box;
 display: flex;
 -webkit-font-smoothing: antialiased
}


.slot{
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  color: rgba(0,0,0,0.75);
  cursor: pointer;
  display: flex;

  width: 2.3em;
  height: 2.3em;

  justify-content: center;
  position: relative;
  text-align: start;
  vertical-align: middle;
  white-space: nowrap;

  font-family: monospace;
  font-size:xx-large;
  font-weight: bold;
}

.slot-focused{
  background-color: gray;
}

.slot-pair{
  display: flex;
  flex-direction: column;
}

.slot-number{
  text-align: center;

  font-family: monospace;
  font-size:large;
  font-weight: normal;
}

@media only screen and (min-width: 768px) {
  .sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}



.answers{
  margin: auto;
}

.answer-table{
  margin: auto;
  font-family: monospace;
}


.new-game-button, .undo-button, .clear-button, .basic-game-button{
  padding: 5px;
  font-size: x-large;
  font-family: cursive;
  border-radius: 5px;
}


summary{
  font-size: large;
  font-weight: bold;
}